extends layout
block vars
    - var title = "Dashboard"
block content
    - var navigations = [{name: "dashboard", link: "/dashboard"}]
    - var pageName = "DASHBOARD"
    include ./header/header.jade
    include ./dashboard-content/dashboard-content.jade
