extends ../layout
block vars
    - var title = "Play Game"
block content
    - var navigations = []
    - var userName = email
    - var linkDestination = ""
    include ../header/header.jade
    include ../question-container/question-container.jade
