link(rel="stylesheet", href="/body/index-body/index-body.css")

div(class="help-container-wrapper")
    h3 What is Quiz meestaR?
    p This is a simple quiz game by which you can improve your knowledge skills.
        | </br> It consist very small amount of question. After every game you can get to know your report in that game.

    h3 What do you need to register?
    p Nothing!!!!! </br>You need to give your Mail-ID and a password. Uncheck the check box and hit JOIN.

    h3 What should you do when you are logging into the app?
    p Do as similar as registration but remember to check the checkbox.
    p To &nbsp;
        b login &nbsp;
        | or &nbsp;
        b registration &nbsp;
        a(href="/login") click here