block includes
    link(rel="stylesheet", href="/sidebar/sidebar.css")

div(class="sidebar-wrapper")
    ul(class="sidebar-list")
        li
            a(href="/quizzes") join existing
        li
            a(href="/createQuiz") create quiz
