.question-container-wrapper {
    height: 350px;
    width: 800px;
    margin: 0 auto;
    margin-top: 90px;
    font-size: 20px;
}

.question-container {
    height: 110px;
    word-break: normal;
    padding: 5px 5px 0 20px;
}

.options-container-wrapper {
    height: 170px;
    margin-top: 10px;
}

.options-container {
    height: 45px;
    width: 325px;
    padding: 5px;
    margin: 15px;
    display: inherit;
    float: left;
    background-color: #949494;
    cursor: pointer;
}

.options-container
    input[type="radio"] {
        display: none;
    }

    :checked+span {
        color: white;
    }

.commit-button {
    margin: 0 auto;
    width: 200px;
}

.submit-button.submit-button {
    margin: 0;
    margin-top: 10px;
}

.answer-span {
    align-text: center;
    padding: 5px;
    position: absolute;
    margin-top: 7px;
}

