block includes
    link(rel="stylesheet", href="/header/header.css")
    link(rel="stylesheet", href="/navigator-controls/top-nav/top-nav.css")

div(class="header-wrapper")
    a(class="title-wrapper", href="#{linkDestination}") QUIZ-meesteR
    include ../navigator-controls/top-nav/top-nav.jade