.header-wrapper {
    height: 50px;
    width: 100%;
    background-color: #2F6FAD;
    top: 0;
}

.title-wrapper {
    color: whitesmoke;
    display: inline;
    float: left;
    font-size: 33px;
    padding-left: 100px;
    padding-top: 10px;
    font-family: monospace;
    cursor: hand;
    text-decoration: none;
}