body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.options {
	border-right:solid 1px black;
	padding: 50px ;
	display: inline-block;
}

#errorMessage{
	color: red;
}
