.create-quiz-container {
    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px;
}

.create-quiz-container label {
    font-size: 14px;
    font-family: arial, sans-serif;
    margin-left: 40px;
}

.text-input.text-input {
    margin-top: 0;
    line-break: strict;
}

.file-input {
    margin-left: 20px;
    font-size: 12px;
}

.form {
    margin-left: 60px;
}

.browse-file {
    margin-top: 30px;
    margin-left: 40px;
}