block includes
   link(rel="stylesheet", href="/dashboard-content/dashboard-content.css")
   link(rel="stylesheet", href="/sidebar/sidebar.css")
   link(rel="stylesheet", href="/dashboard-content/content.css")



div(class="dashboard-body-wrapper")
    include ../sidebar/sidebar.jade
    include ../dashboard-content/content.jade