.top-nav-wrapper {
    height: 100%;
    width: 30px;
    border: 1px white solid;
}

.top-nav-controller {
    display: inline;
    float: left;
    color: white;
    text-decoration: none;
}

.navigation {
    width: auto;
    color: #ffffff;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    /* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
}

.navigation a {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: whitesmoke;
    font-family: monospace;
    text-decoration: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.navigation a:hover {
    color: orangered;
}

.page-title {
    display: inline;
    float: right;
    padding-right: 20px;
}

.flex {
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 1;
}