nav(class="navigation")
    if navigations
        for navigation in navigations
            a(href="#{navigation.link}") #{navigation.name}

    if userName
        span(class="flex")
        div(class="page-title") Welcome #{userName}