.button{
	width : 50px;
	height: 50px;
	background-color: CCFFFF;
	border: 1px solid 3399FF;
};

.background{
	display: inline;
	margin-left: 420px;
	background-color: pink;
};

.outer{
	/*height: 900px;*/
	/*width:700px;*/
	border: 4px solid black;
	background-color: pink;
	margin-left: 420px;
	text-align: center;
};